@import 'variables';

.header {
  z-index: 3;
  display: flex;
  align-items: center;
  height: $header-height;
  width: 100vw;
  position: fixed;
  top: 0;
  user-select: none;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.headerItem {
  margin-right: 1em;
  margin-left: 0.5em;
  font-size: medium;
}

#score {
  left: 1em;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  #header {
    width: 100vw;
    display: inline-block;
    text-align: center;
    height: $header-height-mobile;
  }
}
