.imgCont {
  position: absolute;  
  top: 0;
  left: 0;
}
.back {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
}
.cont2 {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
}
.leftImg {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 0%;
  left: 0%;
}
.rightImg {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 0%;
  left: 0%;
}
.walkBtn {
  position: absolute;
  top: 540px;
  left: 435px;
}
.walkLeftBtn {
  position: absolute;
  top: 540px;
  left: 0px;
}
.walkRightBtn {
  position: absolute;
  top: 540px;
  left: 900px;
}
.turnAroundBtn {
    position: absolute;
    top: 560px;
    left: 435px;
}
