* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

// input {
//     text-align: center;
// }

#container {
    margin-top: 90px;
    max-width: 100vw;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.bigtext {
    font-size: min(1.8rem, 22px);
    margin: 40px 0;
}

.teal-button {
    background-color: #00b0ba;
    color: white;
    font-size: 16px;
    border: none;

    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.teal-button:hover {
    background-color: #24c5ce;
}

.teal-button:active {
    background-color: #00b0ba;
}