.display {
    width: 100vw;
    height: 100vh;
}
.displayImg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.spam {
  position: relative;
  width: 100%;
  height: 100%;
}
